.wrapper {
  & {
    background-color: #555;
    box-shadow: inset 0 0 100px black;
    display: block;
    position: relative;
    border: 3px solid white;
    border-top-color: #777;
    border-left-color: #777;
  }
}

.row {
  & {
    display: flex;
  }
}